name: Lint
on: [push, pull_request]

jobs:
  lint:
    name: Lint Code Style
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer, phpcs, cs2pr
      - name: Install Dependencies
        run: composer install --no-progress
      - name: Run PHP_CodeSniffer
        run: composer run-script lint -- -q --report=checkstyle | cs2pr
